<center>
<div class="hovereffect">
    <center>
        <img class="img-responsive" src="/static/images/members/{{ name }}" alt="" width="300" height="300">
    </center>
    <div class="overlay">
        <div class="rotate">
            <p class="group1">
                {% if link1 %}
                    <a href= {{ link1 }}  >
                        <i class="fa fa-{{ media1 }}"></i>
                    </a>
                
                {% else %}
                    <a href= "#">
                        <i class="fa fa-minus"></i>
                    </a>
                {% endif %}

                {% if link2 %}
                    <a href= {{ link2 }}  >
                        <i class="fa fa-{{ media2 }}"></i>
                    </a>
                
                {% else %}
                    <a href= "#">
                        <i class="fa fa-minus"></i>
                    </a>
                {% endif %}
            </p>
                <hr>
                <hr>
            <p class="group2">
                {% if link3 %}
                    <a href= {{ link3 }}  >
                        <i class="fa fa-{{ media3 }}"></i>
                    </a>
                
                {% else %}
                    <a href= "#">
                        <i class="fa fa-minus"></i>
                    </a>
                {% endif %}

                {% if link4 %}
                    <a href= {{ link4 }}  >
                        <i class="fa fa-{{ media4 }}"></i>
                    </a>
                
                {% else %}
                    <a href= "#">
                        <i class="fa fa-minus"></i>
                    </a>
                {% endif %}
            </p>
        </div>
    </div>
</div>
<p class="member-description">
    {% if name %}
        <h1 class="member_name">{{ name }}</h1>
    {% endif %}
    {% if title %}
        <h3 class="member_title">{{ title }}</h3>
    {% endif %}
    {% if about %}
        {{ about }}
    {% endif %}
</p>
</center>
</div>